<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dropgrade.dropgrade"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
		android:largeHeap="true" 
        android:icon="@drawable/app_icon"
 		android:label = "@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
             android:label = "@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name= ".MainMenuActivity"
             android:label = "@string/home">
            
        </activity>
        
        <activity
            android:name= ".NewUserActivity">
           
            
        </activity>
        <activity android:name=".DisplayContact"/>
      <activity android:name=".WhatIfGradeCalculator"/>
      
        
        
 
       <activity
            android:name =".CourseWorkActivity"></activity>
            <activity android:name=".Calculator"></activity>
          <activity
            android:name =".CourseActivity"></activity>
          
          
        
        <activity
            android:name= ".GradeActivity"
            android:label = "@string/gradeacti">
        </activity>
        
        
        <activity
            android:name= ".SearchCourseActivity"
            android:label = "@string/searchC"
            android:windowSoftInputMode="stateHidden">
        </activity>
        
        <activity
            android:name= ".SearchProfessorActivity"
            android:windowSoftInputMode="stateHidden">
            
        </activity>
        
        <activity
            android:name= ".ReviewActivity">
            
        </activity>
        
      
        
        <activity
            android:name= ".WhatIfActivity">
            
        </activity>
        
        
        
       
      
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />   

</manifest>
